
/* CSS af Lasse, Laurids og Ottilia / UCL Multimediedesign B (2019) */

/****************************************************************
*                              LINKS & FONTS                    *
****************************************************************/


@font-face {
  font-family: 'Exo-2';
  src: url(Exo2-Bold.otf);
  font-weight: bold;
}

@font-face {
  font-family: 'Exo-2 Semi Bold';
  src: url(Exo2-SemiBold.otf);
  font-weight: normal;
}

@font-face {
  font-family: 'Exo-2 Light';
  src: url(Exo2-Light.otf);
  font-weight: normal;
}

@font-face {
  font-family: 'Lato Light';
  src: url(Lato-Light.ttf);
  font-weight: bold;
}

a {
  display: block;
}

a:link {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #5d5e61;
  font-weight: 500;
  text-decoration: underline;

}

a:visited {
  color: #000000;
}

/****************************************************************
*                    FRONTPAGE LEJRSKOLE                        *
****************************************************************/

.header {
  font-family: "Exo-2";
  text-align: left;
  font-size: 30px;
  word-spacing: 50px;
  width: auto;
  margin-left: 150px;
  margin-top: 20px;
  height: 70px; 
}

.logo {
  float: right;
  align-content: center;
  margin-right: 70px;
  height: 50px;
  width: auto;
  margin-top: -70px;
}

.videosegment {
color: #ffffff;
cursor:pointer;
background-color: #f7f7f7;
text-align: center;
border-width: 1px;
position:relative;

}

.video {
  margin-top: 10px;
}


.overskrift {
  margin-top: 20px;
  font-family:"Exo-2";
  font-size: 48px;
}

.introtext {
margin: 50px;
width: 500px;
text-align: center;
margin-left: auto;
margin-right: auto;
font-size:20px

}     

.main {
  font-family: "Lato Light";
  text-align: center;
  font-size: 16px;
  
}

.main2 {
  font-family: "Lato Light";
  text-align: left;
  font-size: 20px;
  
}

/* banner photos */

.imgbanner {
    height: 350px;
}

@media screen and (max-width: 600px) {
    .imgbanner {
        height: 250px
    }
}

/* index billeder */
.billedboks {
  position: relative;
  width: 50%;
  float: left;
  }

 .image {
 display: block;
 width: 100%;
 }
    
 .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0d8cc4;
  }
    
  .billedboks:hover .overlay {
    opacity: 0.85;
    }
      
  .text {
    font-family: "Exo-2";
    color: white;
    font-size:5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }




/****************************************************************
*                   Booking formular                            *
****************************************************************/

input[type=text], select, textarea {
  font-family: "Exo-2 Semibold", Arial, Helvetica, sans-serif;
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color:lightblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:skyblue;
}

form { 
  margin: 0 auto; 
  }
 
  .button {
    background-color: #4CAF50; /* Green */
    font-family: 'Exo-2', Arial, Helvetica, sans-serif;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5px 5px;
    transition-duration: 0.5s;
    cursor: pointer;
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
  }

#wrong {
  font-family: "Exo-2";
  color: red;
}

.bookingformular {
  font-family: "Exo-2 Semi bold", Arial, Helvetica, sans-serif;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  margin: auto;
  max-width: 60%;
}


/* accordion styling */

/*  buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  font-size: 25px;
}

/* the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #0D8CC4;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.acctext {
    font-size: 22px;
}


/*  mulighed billeder   */

 .image2 {
 display: block;
 width: 100%;
 }
    
      
  .text2 {
    font-family: "Exo-2";
    color: white;
    font-size:3vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    }

.billedboks2 {
  position: relative;
  width: 33%;
  float: left;
    height:auto;
  }

@media screen and (max-width: 700px) {
    .billedboks2 {
      position: relative;
      width: 50%;
      float: left;
    height:auto;
  }     
  }

/****************************************************************
*                           PRISER                              *
****************************************************************/
* {
  box-sizing: border-box;
}

.introtextpriser {
  margin: 50px;
  max-width: 600px;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  }       

.tilbudoverskrift {
    margin: 20px;
    font-family:"Exo-2 semi bold";
    font-size:2.5vw;
}

.tilbud {
  float: left;
  line-height: 80%;
  width: 50%;
  margin-bottom: 20px; 
  text-align: center;
  position: relative;
}

.tabel {
  font-family: "lato";
  margin: 40px;
  width: 75%;
  height: auto;
  text-align: left;
  clear: both;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

    #pristabel {
      font-family: "Exo-2 Semi Bold", Arial, Helvetica, sans-serif;
      font-size: 20px;
      border-collapse: collapse;
      width: 100%;
    }
    
    #pristabel th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #0d8cc4;
      color: white;
    }
    
    #total {
      font-family: "Exo-2", Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      font-size: 25px;
      width: 100%;
      text-decoration: underline;
    }






/****************************************************************
*                  bburgermenu                          *
****************************************************************/



{
  margin: 0;
  padding: 0;
  background: #232323;
  color:lightcyan; 
}

a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

a:hover
{
  color:rgb(143, 143, 143);
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}


#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background-color: black;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background-color: lightgray;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
  font-family: 'Exo-2 Light';
}

#menuToggle input:checked ~ ul
{
  transform: none;
}

.navibook{
  font-family: "Exo-2";
  text-align: left;
  font-size: 30px;
  width: auto;
  margin-left: 0px;
  margin-top: 10px;
  height: 70px;
}

.navipriser{
  font-family: "Exo-2";
  text-align: left;
  font-size: 30px;
  width: auto;
  margin-left: 150px;
  margin-top: -70px;
  height: 70px;

}


.wrapper {
    max-width:80%;
    margin: 0 auto;
    overflow: hidden;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
}

/****************************************************************
*                            FOOTER                             *
****************************************************************/
.clear {
  clear: both;
}

footer {
  background-color:#F7F7F7;
  text-align: center;
  margin: auto;
  }

 .footerbox {
    font-family: "Lato Light", Arial, Helvetica, sans-serif;
    float: left;
    width: 25%;
    font-size:0.9vw;
    padding-top: 20px;
    text-align: center;
    margin-right: auto;
    
  }
  .footerh1 {
   font-family: "Exo-2 Semi Bold", Arial, Helvetica, sans-serif;
   color: #0d8cc4;

  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

