.overskrift {
    font-family: 'exo 2';
    text-align: center;
}

.hr {
  width: 100%;
  float:right;
}

.undertitel {
    font-family: "Lato";
    text-align: center;
    margin-top: 40px;
}

.billedelogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 40px; 
}



.navi1 {
    height: 70px;
    width: 70px;
    
}

.navi2 {
    height: 70px;
    width: 70px;    
}

.font {
    font-family: "Lato";
    font-size: 22px;
    text-align: center;
}

.farve1 {
    height: 50px;
    width: 50px;
    background-color: #0B7BAC;
    border-radius: 50%;
    display:table;
    margin:0 auto;
    padding: 30px;
    
}

.farve2 {
    height: 50px;
    width: 50px;
    background-color: #000000;
    border-radius: 50%;
    display:table;
    margin:0 auto;
    padding: 30px;
}

.BilledEksempler{

    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 20px;
    display: block;
    
}

.tekst{
    font-family: "Lato";
    font-size: 24px;
    text-align: center;
    
}







